{
  "webhookId": "yourWebhookIdHere",
  "webhookToken": "yourWebhookTokenHere",
  "images": [
    {
      "user": "linuxserver",
      "image": "sickchill",
      "tag": "latest"
    },
    {
      "user": "linuxserver",
      "image": "couchpotato",
      "tag": "latest"
    }
  ]
}
