{
  "webhookId": "yourWebhookIdHere",
  "webhookToken": "yourWebhookTokenHere",
  "images": [
    {
      "user": "linuxserver",
      "image": "docker-radarr",
      "tag": "latest",
      "registry": "github"
    },
    {
      "user": "linuxserver",
      "image": "couchpotato",
      "tag": "latest",
      "registry": "docker"
    }
  ]
}
